{% extends 'BackBundle:Products:layout.html.twig' %}

{% block header %}
<div class="files-manager-header-left">
	<h2>Gammes</h2>
</div>
<div class="files-manager-header-right">
	<div class="views">
		<a href="{{ path('productLinesNew') }}" class="btn btn-rounded"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Nouveau</a>
	</div>
	<div class="search">
		<button type="submit" class="btn-icon"><i class="font-icon font-icon-search"></i></button>
		<input type="text" class="form-control form-control-rounded" placeholder="Search"/>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="files-manager-content-in scrollable-block">
	<div class="fm-file-grid">
	{% set items = [
	{name : 'Gamme design', childCount : '7 Séries', createdAt : '09/05/2016 10:45', views : 25, link : '#', browseLink : path('productSeries')},
	{name : 'Gamme Inspiration', childCount : '14 Séries', createdAt : '09/10/2016 12:45', views : 38, link : '#', browseLink : path('productSeries')},
	{name : 'Gamme 2014', childCount : 'x Séries', createdAt : '08/01/2014 12:45', views : 49, link : '#', browseLink : path('productSeries')},
	] %}
	{% for item in items %}
	{{ include('BackBundle:Products:singleItem.html.twig') }}
	{% endfor %}
	</div>
</div><!--.files-manager-content-in-->
{% endblock %}

{% block sidecontent %}
<section class="files-manager-aside">
	<div class="files-manager-aside-section"></div>
	<div class="files-manager-aside-section"></div>
</section><!--.files-manager-aside-->
{% endblock %}
